* {
  margin: 0px;
  padding: 0px;
}

.grilla {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.0001fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Descripcion Descripcion Descripcion Descripcion Descripcion"
    ". Busqueda Busqueda Busqueda ."
    ". Busqueda Busqueda Busqueda ."
    ". Busqueda Busqueda Busqueda ."
    "BotonVacio BotonVacio BotonVacio BotonVacio BotonVacio"
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
}

.Descripcion {
  grid-area: Descripcion;
}

.logo-image{
  vertical-align: middle;
  border-style: none;
}
.img-fluid{
  width: 800px;
}
.Nombre{
  text-align: center;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.37em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: black;
  font:700 2.625rem/3.375rem "Open Sans",san-serif;
}
.p{
  display: block;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: rgb(84, 81, 81);
    font:400 1.4rem/2.375rem "Open Sans",san-serif;
}
.Caracteristicas{
  background-color: #ff556e;
}
.GenerarBusqueda {
  grid-area: Busqueda;
  display: flex;
  margin: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}
.BotonBusqueda{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Busqueda div{
  display: block;
  margin-left: 3rem;
  box-sizing: border-box;
  text-align: center;
  color: rgb(84, 81, 81);
  font:400 1.2rem/2.375rem "Open Sans",san-serif;
}
.btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.125rem;
	margin-left: 0.5rem;
	margin-top: 1.125rem;
  display: inline-block;
    padding: 1.5rem 2.375rem 1.5rem 2.375rem;
    border: 0.125rem solid #ff556e;
    border-radius: 2rem;
    background-color: #ff556e;
    color: #fff;
    font: 700 0.875rem/0 "Open Sans", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.Resultado{
  display:flex;
  flex-direction: column;
}
.BotonVacio {
  grid-area: BotonVacio;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
}
