
.body{
   background-color: rgb(216, 215, 215);
}
   .Formulario{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      padding: 25px;
      background: linear-gradient(180deg, rgba(141,13,200,1) 0%, rgba(118,62,255,1) 50%, rgba(0,90,252,1) 100%);
      border-radius: 30px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      color: rgb(244, 244, 244);
   }

   .h1{
      font-size: 35px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      color: aliceblue;
      margin: 0 0 15px 0;
   }

   .myform label{
      margin-right: 15px;
   }
   .myform button{
   background-color:black;
   color: aliceblue;
   border-color: aliceblue;
   }


.linkPrincipal a{
   color: aliceblue;
}












